.cabe{
    flex-direction:row;
    display:flex;
    /*justify-content: space-between;*/
    padding:30px;
    border: 1px grey solid;
    justify-content: center;
}
.inputurl{
    text-align: start center;
    padding-left: 20px;
   
}
input  {
    width: 500px;
    height: 30px;
}

.btnEnviar{
    background: rgb(72, 72, 252);
    color: whitesmoke;
    width: 100px;
}
h1{
    color: rgb(72, 72, 252);
    text-align: center;
}
.contentAll{
    padding: 40px;
}
.contentText{
    min-height: 200px;
    min-width: 100%;
}